html,body,#wrapper {
    height:100%;
    margin:0;
    padding:0;
}

#game{
    display: flex;
    flex-direction: column;
    background-color: blue;
    height: 100vh;
    align-items: center;
}

#game-board{
    background-color: #f1c40f; /* Example color */
    height: 70%;
    width: 90%;    
}

#dog-hand{
    background-color: #e74c3c; /* Example color */
    height: 20%;
    width: 80%;
    position: absolute;
    top: 40%; /* Center vertically in the center-area */
    left: 10%; /* Center horizontally in the center-area */
    visibility: hidden;

}

#player-hand{
    background-color: #25915e; /* Example color */
    height: 30%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.card {
    width: 10%; /* Set width to 8% of viewport width */
    aspect-ratio: 2/3;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
    background-color: #1b5e20;
    border-radius: 0.5em;
    cursor: pointer;
}