.card {
    width: 10%; /* Set width to 8% of viewport width */
    aspect-ratio: 2/3;
    border: 1px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -5px;
    background-color: #1b5e20;
    border-radius: 0.5em;
    cursor: pointer;
}

.cardslot{
    position: absolute;
    border-style: solid;
    width: 50px;
    height: 50px;
}

#cardslot1{
    transform: translate(-50px, 0px);
}
#cardslot2{
    transform: translate(-0px, -50px);
}
#cardslot3{
    transform: translate(50px, 0px);
}
#cardslot4{
    transform: translate(-0px, 50px);
}



.card.animate-top {
    animation: animate-from-top 0.3s ease-out;
    position: relative;
}

.card.animate-left {
    animation: animate-from-left 0.3s ease-out;
    position: relative;
}

.card.animate-right {
    animation: animate-from-right 0.3s ease-out;
    position: relative;
}

.card.animate-bottom {
    animation: animate-from-bottom 0.3s ease-out;
    position: relative;
}


@keyframes animate-from-top {
    0% {
        top: -20px;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(0deg);
    }
    100% {
        top: 0;       
        opacity: 1;
    }
}

@keyframes animate-from-left {
    0% {
        left: -20px;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(0deg);
    }
    
    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes animate-from-bottom {
    0% {
        top: 20px;
        opacity: 0.5;
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(0deg);
    
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes animate-from-right {
    0% {
        left: 200px;
        opacity: 0.5;
        transform: rotate(180deg);
    }
    80%{
        transform: rotate(0deg);
    }
    
    100% {
        left: 0;
        opacity: 1;
    }
}


@media (min-width: 468px) {
    .card {
        width: 50px; /* Width for desktop */
    }
}

/* Mobile styles */
@media (max-width: 467px) {
    .card {
        width: 40px; /* Width for mobile */
    }
}

.card > img{
    width: 100%;
}

#player-hand >.card > img:hover
{
    top: -5px;
    position: relative;
}

#dog-hand >.card>img:hover{
    top:-5px;
    position: relative;
}