.buttonpanel, .trump-panel {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: start;
  justify-content: start;
  padding: 5px;
  overflow: auto;
  background-color: mediumseagreen;
  z-index: 50;
}

#choose-bonus > div > button{
  background-color: green;
  justify-content: center;
    position: absolute;
    bottom: 5px;
}

.trump-panel > p {
  height: 14%;
  display: flex;
  gap: 4px;
  align-items: center;
}

.trump-panel > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    height: 14%;
    gap: 5%;
    width: 100%;
}

.trump-panel > div > button {
  width: 30%;
  background-color: goldenrod;
}

.trump-panel > div:last-child > button {
  background-color: red;
}

#bid, #choose-bonus, #choose-trump {
  visibility: hidden;
}
