.buttonpanel, .trump-panel {
  position: absolute;
  width: 80%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  align-items: start;
  justify-content: start;
  padding: 5px;
  overflow: auto;
  background-color: mediumseagreen;
  z-index: 50;
  border-radius: 10px;
  box-shadow: 10px 10px 10px black;
}

#choose-bonus > div > button{
  background-color: green;
  justify-content: center;
    position: absolute;
    bottom: 5px;
    height: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.trump-panel > p {
  height: 14%;
  display: flex;
  gap: 4px;
  align-items: center;
  align-self: center;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.trump-panel > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    box-sizing: border-box;
    height: 14%;
    gap: 5%;
    width: 100%;
}

.trump-panel > div > button {
  width: 30%;
  background-color: rgb(199, 198, 196);
  height: 100%;
}

.trump-panel > div:last-child > button {
  background-color: red;
}

#bid, #choose-bonus, #choose-trump {
  visibility: hidden;
}

#result-panel{
  visibility: hidden;
}
.results-table{
  width: 100%;
  table-layout: fixed;
}

.results-table tr:nth-child(odd){background-color: #f2f2f21e;}
.results-table .good{
  background-color: green;
}
.results-table .bad{
  background-color: red;
}.results-table .neutral{
  background-color: grey;
}

#confirm-dog{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}

#dog-parent{
  z-index: 600;
  visibility: hidden;
}

#dog-hand{
  background-color: #1d7238; /* Example color */
  height: 20%;
  width: 80%;
  position: absolute;
  top: 40%; /* Center vertically in the center-area */
  left: 10%; /* Center horizontally in the center-area */
  display: flex;
  justify-content: center;
  z-index: 100;
}